:root {
    --primary: #611f69;
    --bg: #f8f8f8;
    --border: #ddd;
    --text: #1d1c1d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

body {
    background: var(--bg);
    color: var(--text);
}