/* Global Reset & Variables */

:root {
    --primary: #611f69;
    --background: #f8f8f8;
    --text-dark: #1d1c1d;
    --border: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

body {
    background: var(--background);
    color: var(--text-dark);
}